<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>生成新地址</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <script type="text/javascript" src="/js/jquery.js" ></script>
    </head>
    <body>
        <h1>生成新地址页面</h1>
        <form data-type="formNewAddressAction" action="/newaddressact" form-rediret="/index">
            <table>
                <tr>
                    <td>类型：</td><td><input id="cointype" type="text" name="cointype"></input></td>
                </tr>
                <tr>
                    <td>个数：</td><td><input id="count" type="text" name="count"></input></td>
                </tr>
                <tr>
                    <td>保存目录：</td><td><input id="newaddressdir" type="text" name="newaddressdir"></input></td>
                </tr>
                <tr>
                    <td><input type="submit" value="生成" style="width:100px;height:25px"></input></td>
                </tr>
            </table>
        </form>
    </body>
    <script type="text/javascript" src="/js/md5.min.js" ></script>
    <script type="text/javascript" src="/js/base64js.min.js" ></script>
    <script type="text/javascript" src="/js/base.js" ></script>
    <script>
        function runDemo(url)
        {
            window.location.href = url;
        }
    </script>
</html>