[submodule "src/github.com/alecthomas/log4go"]
	path = src/github.com/alecthomas/log4go
	url = https://github.com/alecthomas/log4go.git
[submodule "src/github.com/ethereum/go-ethereum"]
	path = src/github.com/ethereum/go-ethereum
	url = https://github.com/zl03jsj/ethereum.git
[submodule "src/github.com/pki-io/core"]
	path = src/github.com/pki-io/core
	url = https://github.com/pki-io/core.git
[submodule "src/github.com/pki-io/ecies"]
	path = src/github.com/pki-io/ecies
	url = https://github.com/pki-io/ecies
[submodule "src/golang.org/x/crypto/"]
	path = src/golang.org/x/crypto
	url = https://github.com/golang/crypto.git
[submodule "src/src/golang.org/x/crypto"]
	path = src/src/golang.org/x/crypto
	url = https://github.com/golang/crypto.git
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://github.com/golang/crypto.git
[submodule "src/github.com/satori/go.uuid"]
	path = src/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid
[submodule "src/github.com/go-sql-driver/mysql"]
	path = src/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql.git
[submodule "src/github.com/garyburd/redigo"]
	path = src/github.com/garyburd/redigo
	url = https://github.com/garyburd/redigo.git
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "src/github.com/btcsuite/btcd"]
	path = src/github.com/btcsuite/btcd
	url = https://github.com/btcsuite/btcd.git
[submodule "src/github.com/btcsuite/btcutil"]
	path = src/github.com/btcsuite/btcutil
	url = https://github.com/btcsuite/btcutil.git
[submodule "src/github.com/btcsuite/btclog"]
	path = src/github.com/btcsuite/btclog
	url = https://github.com/btcsuite/btclog.git
[submodule "src/github.com/btcsuite/go-socks"]
	path = src/github.com/btcsuite/go-socks
	url = https://github.com/btcsuite/go-socks.git
[submodule "src/github.com/btcsuite/websocket"]
	path = src/github.com/btcsuite/websocket
	url = https://github.com/btcsuite/websocket.git
[submodule "src/github.com/btcsuite/btcwallet"]
	path = src/github.com/btcsuite/btcwallet
	url = https://github.com/btcsuite/btcwallet.git
