<html>  
        <head>  
        </head>  
        <body>  
            <div>
                <ul>
                    {{range .}}
                        <li>
                            <p> 服务名称: {{.ApiDocInfo.SrvName}} 服务版本: {{.ApiDocInfo.VerName}} </p>
                            <p> 方法名称: {{.ApiDocInfo.FuncName}} 方法权限: {{.ApiDocInfo.Level}} </p>
                            <p>说明：{{.ApiDocInfo.Comment}}</p>
                            <p>路径：{{.ApiDocInfo.Path}}</p>
                            <div>输入：{{.ApiDocInfo.InputComment}}</div>
                            <div>输出：{{.ApiDocInfo.OutputComment}}</div>
                            <p>测试示例：</p>
                            <form action="/runapi?srv={{.ApiDocInfo.SrvName}}&ver={{.ApiDocInfo.VerName}}&func={{.ApiDocInfo.FuncName}}" method="POST">
                                <input style="width:100%" type="text" name="argv" value={{.ApiDocInfo.Example}}></input><br/>
                                <input type="submit" value="submit"/>
                            </form>
                        </li>
                        <br/>
                    {{end}}
                </ul>
            </div>  
        </body>  
</html>