<html>  
        <head>  
        </head>  
        <body>  
            <div>  
                <ul>
                    {{range .}}  
                        <li>
                            <a href="/getapi?srv={{.Srv}}&ver={{.Version}}">
                                服务名称: {{.Srv}} 版本号: {{.Version}} 数量: {{.Count}}}
                            </a>
                        </li>
                        <br/>  
                    {{end}}  
                </ul>
            </div>  
        </body>  
</html>