<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>注册页面</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <script type="text/javascript" src="/js/jquery.js" ></script>
    </head>
    <body>
        <h1>注册页面</h1>
        <form data-type="formRegisterAction" action="/doregister" form-rediret="/index">
            <table>
                <tr>
                    <td>用户名</td><td><input id="name" type="text" name="name"></input></td>
                </tr>
                <tr>
                    <td>类型</td><td><input id="uclass" type="text" name="uclass">0：客户，1：热， 2：管理员</input></td>
                </tr>
                <tr>
                    <td>电话</td><td><input id="phone" type="text" name="phone"></input></td>
                </tr>
                <tr>
                    <td>邮箱</td><td><input id="email" type="text" name="email"></input></td>
                </tr>
                <tr>
                    <td>密码</td><td><input id="password" type="password" name="password">大于6</input></td>
                </tr>
                <tr>
                    <td>密码2</td><td><input id="password2" type="password" name="password2">大于6</input></td>
                </tr>
                <tr>
                    <td>google验证</td><td><input id="googleauth" type="text" name="googleauth"></input></td>
                </tr>
                <tr>
                    <td>公钥</td><td><input id="pubkey" type="text" name="pubkey"></input></td>
                </tr>
                <tr>
                    <td>回调地址</td><td><input id="callback" type="text" name="callback"></input></td>
                </tr>
                <tr>
                    <td><input type="submit" value="注册" style="width:100px;height:25px"></input></td>
                </tr>
            </table>
        </form>
    </body>
    <script type="text/javascript" src="/js/md5.min.js" ></script>
    <script type="text/javascript" src="/js/base64js.min.js" ></script>
    <script type="text/javascript" src="/js/base.js" ></script>
</html>