{
	"online_mode": "online",
	"crypto_file": "blockchain_server/res/crypto.key",
	"log_conf_file": "blockchain_server/res/log4go.xml",
	"log_path":  "blockchain_server/logs/",
	"Clientconfig": {
		"BTC": {
			"rpc_url": "127.0.0.1:18443",
			"name": "BTC",
			"start_scan_blocknumber": 1,
			"confirmnumber": 6,
			"Tokens": null,
			"SubConfigs": {
				"key_settings": {
					"SeedValue": "3cfec70a88faa4c7a06aee3e869ff571c01673015610fb00830b16eff24eda3c",
					"extpri_primarykey": "tprv8ZgxMBicQKsPe9vm1tJZK4pKXBHEWMy6uQNCjGv8EFGH7CxHWLpcAkhN5dbsEo7B3KheFnrSmyjM5mzL8Bon985pkZdC6xWpbiEp3PFgbrX",
					"extpub_primarykey": "tpubD6NzVbkrYhZ4XcxYuXy9iUUS6CoAfhA1Uhxz1nxReX4fwhD48jeCMFKEFp2xPzmVLg3woBR1gnhHzbeL4JtvuVeByqvChjEfzC5dFYmGKpV",
					"Child_upto_index": 2
				},
				"rpc_settings": {
					"http_server": ":18666",
					"name": "zengl",
					"network_mode": "regtest",
					"password": "123456",
					"rpc_url": "127.0.0.1:18443",
					"notify_wl": "/btc/wl_notify",
					"notify_bl": "/btc/bl_notify",
					"notify_al": "/btc/al_notify"
				}
			}
		},
		"ETH": {
			"rpc_url": "ws://127.0.0.1:8500",
			"name": "ETH",
			"start_scan_blocknumber": 1,
			"confirmnumber": 10,
			"Tokens": {
				"ZTK": {
					"name": "ZToken",
					"address": "0xfd19ed33208b7f40a41a0b4e6dfc31273fb36814",
					"symbol": "ZTK",
					"decimals": "18"
				},
				"EOS": {
					"name": "EOS",
					"address": "0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0",
					"symbol": "eos",
					"decimals": "18"
				},
				"OMG": {
					"name": "OMG",
					"address": "0xd26114cd6EE289AccF82350c8d8487fedB8A0C07",
					"symbol": "OMG",
					"decimals": "18"
				}
			},
			"SubConfigs": null
		}
	}
}

