{
	"crypto_file": "/Users/cengliang/code/wallet-service/src/blockchain_server/res/crypto.key",
	"log_conf_file": "/Users/cengliang/code/wallet-service/src/blockchain_server/res/log4go.xml",
	"log_path": "/Users/cengliang/code/wallet-service/src/blockchain_server/logs/",
	"Clientconfig": {
		"eth": {
			"rpc_url": "ws://127.0.0.1:8500",
			"start_scan_blocknumber": "0",
			"confirmnumber": "10"
		}
	}
}
